#!/bin/bash

##########################################
# Yann Allandit - HPE
# This file is used as environment setting for the Cloud Volumes initialization script
# it must reside in the same directory as init_cloud_volumes.sh
##########################################

#################################
#### Variables
#### syntax is VariableName=VariableValue without space anywhere
rep_store=343
rep_vol=0645e820f5e62eb49d000000000000000000000001



### EOF
