#!/bin/bash

##########################################
# Yann Allandit - HPE
# This file is used as environment setting for the Cloud Volumes initialization script
# it must reside in the same directory as init_cloud_volumes.sh
##########################################

#################################
#### Variables
#### syntax is VariableName=VariableValue without space anywhere

# HPE Cloud Volumes Replication store addressed
rep_store=343

# HPE Cloud Volumes ID to be presented
rep_vol=0645e8999999999999999999999999900000000001

# User name for cvctl command
chap_user=Enter-Your-User-Key-Here

# User secret for cvctl command
chap_secret=ChapSecretValuehere


### EOF
